<!doctype html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Starter - Homepage</title>
            <link rel="stylesheet" href="css/styles.css">
        </head>
        <svg id="fader"></svg>
        <script>
            fadeInPage();
            function fadeInPage() {
                if (!window.AnimationEvent) { return; }
                var fader = document.getElementById('fader');
                fader.classList.add('fade-out');
            }
        </script>
        <header class="header">
            <nav class="nav">
                <div class="logo_holder"><a href="/">LOGO</a></div>
                <ul class="nav__list">
                    <li class="nav__list__item">
                        <a href=./index.html>Home</a>
                    </li>
                    <li class="nav__list__item">
                        <a href="./about.html">About</a>
                    </li>
                    <li class="nav__list__item">
                        <a href="./contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        <body class="page-body">
