<!doctype html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Starter - Homepage</title>
            <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
            <link rel="stylesheet" href="css/styles.css">
        </head>
        <svg id="fader"></svg>
        <noscript>
            <style type="text/css">
                .section.main{ opacity: 1!important; transform: translate(0,0)!important;}
                #fader{opacity: 0!important}
            </style>
            <div class="noscriptmsg">
                You don't have javascript enabled.
            </div>
        </noscript>
        <script>
	        function fadeInPage() {
		        if (!window.AnimationEvent) { return; }
		        let fader = document.getElementById('fader');
		        fader.setAttribute('class', 'fade-out');
	        }
	        fadeInPage();
        </script>
        <header class="header">
            <div class="container">
                <nav class="nav">
                        <div class="logo_holder"><a href="/">LOGO</a></div>
                        <ul class="nav__list">
                            <li class="nav__list__item">
                                <a href=./index.html>Home</a>
                            </li>
                            <li class="nav__list__item">
                                <a href="./about.html">About</a>
                            </li>
                            <li class="nav__list__item">
                                <a href="./contact.html">Contact</a>
                            </li>
                        </ul>
                </nav>
            </div>
        </header>
        <body class="page-body">
