@import 'reset/reset';
@import 'partials/fonts';

html{
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	background: linear-gradient(#ffc986, #b3a81f);
	height: 100%;
	color: #2c4c5f;
}

img {
	max-width: 100%;
}

p{
	margin-bottom: 20px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 36px;
	margin-bottom: 20px;
}

.section {
	background: #fefefe;
	padding: 20px;

	&.main {
		min-height: 70vh;
	}

	&.footer {
		background: transparent;
		color: #946509;
	}
}

.nav {
	padding: 20px;
}

.nav__list {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}
.nav__list__item a,
.nav__list__item a:visited{
	color: #515f67;
	text-decoration: none;

	&:hover {
		color: #333;
	}
}
